<footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
       
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>
            Task Manager is a web app that helps you manage your tasks efficiently, keep track of deadlines and stay organized and focused.
          </p>
        </div>
  
      </div>
  
      <div class="text-center mt-4">
        <p>&copy; 2025 Task Manager. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
  
